.title {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  text-align: center;
  padding: 1.5rem;

  @extend %smooth-transition;

  @include onMobile {
    font-size: 2.5rem;
  }
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.navlistitemLink {
  font-size: 1.6rem;
  @extend %smooth-transition;

  @include onMobile {
    font-size: 1.2rem;
  }
}

.navlistitemLink:hover {
  text-decoration: underline;
}