.title {
  font-size: 2rem;
  font-weight: 700;
  color: $colorBlack;
  text-align: center;
  padding: 2rem;

  @extend %smooth-transition;

  @include onMobile {
    font-size: 1.5rem;
  }
}

.wrapper {
  min-height: 50vh;
}
