.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem
}

.input {
  @extend %input;
}

.button {
  @extend %buttonBlue;
  height: 3.5rem;
  width: 7rem;

  @include onTablet {
    height: 4rem;
    width: 8rem;
  }
}
