.block {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  @extend %smooth-transition;

  @include onTablet {
    gap: 5rem;
  }
}

.link {
  font-size: 2rem;
  color: $colorWhite;
  @extend %smooth-transition;

  @include onMobile {
    font-size: 1.5rem;
  }
}


.activeLink {
  color: $colorBlue;
}

.link:hover {
  text-decoration: underline;
}

.signOutButton {
  font-size: 2rem;
  color: $colorWhite;
  @extend %smooth-transition;

  @include onMobile {
    font-size: 1.5rem;
  }
  background-color: transparent;
  border: none;
}

.signOutButton:hover {
  text-decoration: underline;
}

.cartButton {
  @extend %smooth-transition;
  background-color: transparent;
  border: none;
}

.cartButton:is(:hover,:focus) {
  scale: 1.25;
}

.iconCart {
  width: 1.8rem;
  height: 1.8rem;

  @extend %smooth-transition;

  @include onTablet {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.cartAndCartButtonWrapper {
  position: relative;
}
