%title {
  font-size: 3rem;
  font-weight: 700;
  color: $colorBlack;
  text-align: center;
  padding: 3rem;

  @extend %smooth-transition;

  @include onMobile {
    font-size: 2.5rem;
  }

  font-family: $mainFontFamily;
}

%smooth-transition {
  transition: all 0.3s ease-in-out;
}

%buttonBlue {
  @extend %smooth-transition;
  font-size: 1.2rem;
  background-color: $colorBlue;
  border: none;
  color: $colorWhite;

  @include onTablet {
    font-size: 1.5rem;
  }
  font-family: $mainFontFamily;
}

%buttonBlue:is(:hover, :focus) {
  background-color: $colorBlue2;
}

%input {
  @extend %smooth-transition;
  height: 3.5rem;
  width: 20rem;
  border: 0.18rem solid $colorBlack;
  outline: transparent;

  padding: 0.8rem 1.2rem;
  font-size: 1.3rem;

  @include onTablet {
    height: 4rem;
    width: 22rem;
  
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
}

%input:focus {
  border-color: $colorBlue;
}

%buttonBlue {
  @extend %smooth-transition;
  background-color: $colorWhite;
  cursor: pointer;
  border-radius: 5rem;
  color: $colorBlue;
  border: 0.2rem solid $colorBlue;
  outline: none;
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

%buttonBlue2 {
  @extend %smooth-transition;
  font-size: 1.2rem;
  background-color: $colorBlue;
  border: none;
  color: $colorWhite;

  @include onTablet {
    font-size: 1.5rem;
  }
  font-family: $mainFontFamily;
}

%buttonBlue2:is(:hover, :focus) {
  background-color: $colorBlue2;
}

%buttonGrey {
  @extend %smooth-transition;
  background-color: $colorWhite;
  cursor: pointer;
  border-radius: 5rem;
  color: $colorBlack;
  border: 0.2rem solid $colorBlack;
  outline: none;
  font-style: normal;
  font-weight: $fontWeightSemiBold;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

%buttonGrey:is(:hover,:focus) {
  background-color: $colorGrey3;
}

%buttonBlue:is(:hover,:focus) {
  background-color: $colorGreen;
}
