/*#region fontSize */
  $mainFontSize: 10px;
/*#endregion */

/*region fonts */
  $mainFontFamily: 'Roboto', sans-serif;
/*#endregion*/

/*region colorBlue */
  $colorBlue: #3498db;
  $colorBlue2: #2b79ad;
/*#endregion*/

/*region colorWhite */
  $colorWhite: #fff;
/*#endregion*/

/*region colorBlack*/
  $colorBlack: #000;
  $colorBlack1: rgb(36, 35, 35);
  $colorBlack3: rgba(0, 0, 0, .75);
/*#endregion*/

/*region colorRed*/
  $colorRedError: rgb(243, 11, 11);
/*#endregion*/

/*region colorGrey*/
  $colorGrey: rgb(185, 178, 178);
/*#endregion*/
