.loader {
  border: 0.8rem solid $colorGrey;
  border-top: 0.8rem solid $colorBlue;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 1s linear infinite;
  margin: 0 auto;

  // @extend %smooth-transition;

  @include onTablet {
    width: 8rem;
    height: 8rem;
    border: 1rem solid $colorGrey;
    border-top: 1rem solid $colorBlue;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  margin-top: 3rem;
  @extend %smooth-transition;

  @include onMobile {
    margin-top: 2.5rem;
  }
}
