.title {
  @extend %title;
}

.postWrapper {
  min-height: 70vh;
}

.postDescription {
  font-size: 1.8rem;
  text-align: center;
  padding: 0 3rem;

  @extend %smooth-transition;
  @include onMobile {
    font-size: 1.4rem;
  }
}
